@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap%27');

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

@media(max-width: 600px) {
    .header,{
        width: 100%;
        height: 100%;
        background-color:rgb(84, 21, 84) ;
    }
    main{
        /* width: 390px; */
    }
    .background__color{
        background-color: #f4ede4;
    }
    .barra{
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        background-color: rgb(84, 21, 84);
        width: 390px;
    }
    .barra__logo{
        display: flex;
        align-items: center;
        
    }
    .barra__logo--img{
        height: 35px;
        border-color:rgb(84, 21, 84)  ;
        padding-left: 20px;
    }
    .barra__logo--text{
        color: white;
        padding-left: 3px;
        font-weight: bold;
        font-size: x-large;
        font-family: 'PT Serif', serif;;
    }
    .barra__menu--color {
        color: white;
    }
    .menu__hamburguesa{
        color: #fff;
        padding-right: 20px;
        height: 30px;
        padding-right: 50px;
        
    }
}
.register__container{
    
    width: 390px;
    background-color: rgb(84, 21, 84);;
}
.register__container--title{
    font-family: 'PT Serif', serif;
    color: white;
    text-align: center;
    font-weight: 700;
    /* line-height: 1.0625; */
    letter-spacing: -1.5px;
    font-size: 2.75rem;
    width: 390px;
}
.register__container--parrafo{
    color: white;
    text-align: center;
    font-weight: 400;
    line-height: 1.444;
    letter-spacing: -.2px;
   font-size: 1rem;
   font-weight: 400;
    line-height: 1.444;
    letter-spacing: -.2px;
    font-size: 1rem;
    margin:0.25rem auto 2.5rem;
    padding:10px 10px 10px 30px;
   
}
.register__container--span{
    color: #ECB22E;
}
.register__container--box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 390px;
}
.buttons{
    background-color: rgb(84, 21, 84);
    width: 390px;
}
.button__arriba{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 57px;
    margin-left: 20px;
    margin-bottom: 8px;
    background-color: white;
    color: rgb(84, 21, 84);
    width: 90%;
    border-radius: 7px;
    margin-top: -10px;
}
.button__abajo{
    display: flex;
    height: 57px;
    margin-left: 20px;
    margin-bottom: -2px;
    background-color: #4285f4;
    color: #fff;
    width: 90%;
    border-radius: 7px;
     }
     .color__google{
        color: #fff;
        padding-left: 70px;
        padding-top: 15px;
        display: flex;
        align-items: center;
     }
     .logo__google{
        display: flex;
        justify-content: flex-start;
        border-radius: 4px;
        margin: 3px 0 3px 3px;
        height: 45px;
        width: 45px;
     }
   .img__capturas{
    height: 100%;
    padding:20px 0 20px 20px ;
    background-color: rgb(84, 21, 84);
    width: 420px;
   }
.container_empresas{
    background-color: #f4ede4;
    height: 320px;
    width: 425px;
}
.container__empresas--titulo{
    padding: 20px;
    width: 390px;
}
.container__empresas--texto{
    padding: 0px 10px 0px 10px;
    margin-right: 0;
    font-family:'PT Serif', serif; 
    font-size: medium;
    text-align: center;
    width: 90%;
    
}
.listado__empresas{
    height: 160px;
    width: 390px;
    padding: 0px 0px 0 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.texto{
    background-color: #f4ede4;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 400px;
    margin-left: 30px;
    
}
.texto{
    background-color: #f4ede4;
    margin: 0px;
    width: 390px;
}
.box{
    margin: 30px;
}
.texto__titulo{
    font-family:'PT Serif', serif;
    padding: 30px 10px 15px 15px;
    margin-left: 10px;
}
.texto__parrafo{
    font-family:'PT Serif', serif;
    margin: 0 15px 20px 30px;
    padding-right: 7px;
}
.vinculo{
    color: #6898e4;
    font-family:'PT Serif', serif;
    font-size: medium;
    margin: 0 15px 40px 30px; 
 }
 .captura__dos--box{
    background-color:#f4ede4; 
    width: 430px;
 }
 .captura__dos{
    width: 100%;
    margin-bottom: -25px;
 }
 .captura__tres{
    width: 430px;
    height: 100%;
    margin-bottom: -20px;
    margin-top: -20px;
 }
 .captura__tres--img{
    width: 390px;
 }
 .captura__cuatro{
    width: 430px;
 }
 .captura__cuatro--img{
    width: 390px;
    margin-bottom: -25px;
    margin-top: -20px;
 }
 .button__arriba--2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 57px;
    margin: 10px 0px 10px 0px;
    background-color: #611f69;
    color: white;
    width: 100%;
    border-radius: 5px;
     }
.button__arriba--2--color{
    color: #fff;
    font-family:'PT Serif', serif;
     }
.button__abajo--2{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 57px;
        margin: 10px 0px 10px 0px;
        background-color: white;
        color:#611f69;
        width: 100%;
        border-radius: 5px;
         }
.button__abajo--2--style{
    font-family:'PT Serif', serif;
}
.contenedores__porcentajes{
   padding-bottom: 50px;
}
.porcentajes__num{
    font-family:'PT Serif', serif;
    color:#611f69;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 40px 0px 20px 0px;
    font-weight: 700;
    width: 390px;
}
.porcentajes__text--box{
    width: 390px;
    text-align: center;
}
.porcentajes__text{
    font-family:'PT Serif', serif;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 13px;
    width: 60%;
    padding-left: 70px;
    
    
    
    
}
.video{
    height: 200px;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    /* margin-right: 0px; */
    width: 95%;
    
}
.box__texto{
    font-family:'PT Serif', serif; 
}
.box__header{
    font-weight: 400;
    font-size: larger;
    margin-left: px;
    width: 90%;
    margin: 10px 30px 10px 20px;
}
.box__enlace1, .box__footer{
    padding: 20px 20px 20px 20px;
}
.box__autor{
    padding: 10px 20px 2px 20px;
    margin-left: 0px;
}
.box__descripcion{
    padding: 0 20px 20px 20px;
    margin-left: 0px;
} 
.box__enlace1{
    margin: 20px 20px 20px 0px;
    color: #6898e4;
}
.box__footer{
    font-size: small;
    color: dimgray;
    margin-left: 0px;
}
.tarjeta__titulo{
    background-color: #f4ede4;
    text-align: center;
    font-size:x-large; ;
    padding: 40px 0px 15px 0px;
    width: 390px;
}
.container__tarjeta{
    background-color: #f4ede4;
    padding: 20px 20px 20px 0px;
    width: 390px;
}
.tarjeta{
    background-color: white;
    margin: 10px auto;
    width: 300px;
}
.img__tarjeta{
width: 70%;
padding: 20px 20px 20px 43px;
}
.tarjeta__parrafo, .tarjeta__h2{
    padding: 20px 20px 10px 20px;
}
.tarjeta__h2{
    padding: 0 20px 45px 20px;
}
.enlace__tarjeta{
    color: #6898e4;
    font-family:'PT Serif', serif; 
    font-weight: bold;
    font-size: small;
    padding: 40px 20px 20px 20px;
}
.contenedor__botones{
    background-color:#4a154b;
    height: 412px;
    width: 100%;
    clip-path: ellipse(105% 100% at center top);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
}
.contenedor__texto{
    color:white;
    text-align: center;
    margin-bottom: 32px;
    font-size: 26px;
    padding: 0 4vh;
    font-family: 'PT Serif', serif;
    line-height: 1.158;
 letter-spacing: -.8px;
}
.button__arriba--22{
    display: flex;
        justify-content: center;
        align-items: center;
        height: 57px;
        margin: 0px;
        background-color: white;
        color:#611f69;
        width: 90%;
        border-radius: 5px;
}
.button__abajo--22{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 57px;
        margin: 10px;
        background-color:#4a154b;
        color:white;
        width: 90%;
        border-radius: 5px;
        border-color: white;   
    }
.button__.button__arriba--22--color{
    color: #4a154b;
    font-weight: bold;
}
.button__abajo--22--style{
    color: #fff;
}
.img__logo--ucr{
    height: 60px;
    width: 60px;
    margin-bottom: 10px;
}
.img__logo--ucr img {
    height: 100%;
    width: 100%;
}
.box__primer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 4vh;
    margin-bottom: 15px;
    width: 90%;
}   
.box__lista{
    width: 390px;
    height: 100%;
    padding: 0 20px;
    margin-left: 0px;
    margin-right: 0px;
}
.box__lista--1 li{
    color: #000;
    font-weight: 700;
    width: 100%;
}
.box__lista--2 li{
    height: 40px;
    color: #000;
    font-weight: 700;
    width: 100%;
}
.box__lista--2{
    border-top: 1px solid #ebeaeb;
    padding-top: 3vh;
}

.separacion{
    display: flex;
    align-items: center;
    height: 40px;
}
.mayor{
    font-size: 26px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.box__lista--2{
    font-weight: 700;
    line-height: 1.2857;
    letter-spacing: normal;
    font-size: .875rem;
    color: #000;
}
.enlace__final{
    color: #4285f4;
}
.lista__redes{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    margin: 10px 0px;
    width: 90%;
}
.footer{
    height: 55px;
    margin-bottom: 20px;
}
.footer__texto{
    /* padding: 10px 3px 30px 10px; */
    color:  dimgray ;
    padding-top: 15px;
    padding-bottom: 30px;
}
.simbolo__global{
    height: 10px;
    width: 10px;
}
.cambiar__region img{
    justify-content: center;
    height: 10px;
    width: 10px;
}




